.button{
    background: $off-white;
    font-size: $font-l-size;
    font-weight: 400;
    border-radius: 5px;
    border:none;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    padding: $s-size;
    color: $blue;
    margin-right: $s-size;
}

.button--active{
  background: $blue;
  color: $off-white
}

.button:hover{
  background: $blue;
  color: $off-white
}
